[mysqld]
default-authentication-plugin=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# スロークエリログ (すべてのクエリを記録してボトルネックを測定)
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 0.0
log_queries_not_using_indexes = 1

# 基本バッファ設定
innodb_buffer_pool_size = 512M
innodb_flush_log_at_trx_commit = 2
